<ion-view view-title="Serviço">
  <ion-header-bar class="bar-positive">
      <h1 class="title">Pull To Refresh</h1>
    </ion-header-bar>

    <ion-content>
      	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Produto</span>
		    <input type="text" placeholder="Informe o nome do produto">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">SKU</span>
		    <input type="text" placeholder="Informe o SKU do produto">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Preço</span>
		    <input type="number" placeholder="Informe o preço do produto">
		  </label>
		  	<button class="button button-full button-positive">
				Salvar
			</button>

		</div>
    </ion-content>
</ion-view>



